*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   
}
.main{
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.7;
    
}

#main__first{
    background-image: url(images/bg.jpg);
}
    
#main__second{
    background-image: url(images/bg2.jpg);
}
#main__third{
    background-image: url(images/bg3.jpg);
}
#main__fourth{
    background-image: url(images/bg4.jpg);
}
#main__fifth{
    background-image: url(images/bg.jpg);
}

#main__first--h1,
#main__fifth--h1{
    font-size: 3rem;
    line-height: 5rem;
    line-height: 5rem;
    font-weight: 400; 
    background-color: black;
    letter-spacing: 0.5rem;
    border: 0 solid #4D4D4D;
    padding:1.2rem 2rem;
    border-radius: 2.5rem 0;
    color: white;
    outline: 0.5rem inset #ff6600;
    outline-offset: 10px;
    
}

section{
    text-align: center;
    padding: 3rem 5rem 5rem 3rem;
    font-size: 1rem;
    line-height: 1.6rem ;
    
}

section h1{
    margin:  1.5rem;
}

.section__light{
    background: #F1F1F1;
    opacity: 0.7;
}

.section__dark{
    background: black;
    color: #DDDDDD;
    opacity: 0.8;
}

.main__second--clarusway{
    width: 30%;
    text-align: center;
}

#main__third--h1,
#main__fourth--h1{
    font-size: 2.8rem;
    line-height: 5rem;
    line-height: 5rem;
    font-weight: 400; 
    background-color: black;
    text-decoration: none;
    letter-spacing: 0.5rem;
    border: 0 solid #4D4D4D;
    padding: 0 2rem;
    border-radius: 1rem 0;
    color: white;
    outline: 0.4rem inset  #ff6600;
    outline-offset: 5px;
}
